{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
<div class="content-section">
  <div class="media mb-4">
    <img class="rounded-circle account-img" src="{{ image_file }}" style="width: 125px; height: 125px;">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
      
      {% if current_user.about_me %}
        <p><strong>Про мене:</strong> {{ current_user.about_me }}</p>
      {% endif %}
      
      {% if current_user.last_seen %}
        <p><small>Останній візит: {{ current_user.last_seen.strftime('%Y-%m-%d %H:%M') }}</small></p>
      {% endif %}
      </div>
  </div>
  
  <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Account Info</legend>
          
          {{ macros.render_field(form.username) }}
          {{ macros.render_field(form.email) }}
          
          {{ macros.render_field(form.about_me, rows=3) }}
          
          <div class="mb-3">
              {{ form.picture.label(class="form-label") }}
              {{ form.picture(class="form-control") }}
              {% if form.picture.errors %}
                  {% for error in form.picture.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                  {% endfor %}
              {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% endblock %}