{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}Увійти{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <h2 class="text-center">Login</h2>

            <form method="POST" novalidate>

                {{ form.hidden_tag() }}

                {{ macros.render_field(form.username) }}
                {{ macros.render_field(form.password) }}

                <div class="mb-3 form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>

                {{ form.submit(class="btn btn-primary w-100") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}