{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block title %}{{ title | default('Create New Post') }}{% endblock %}

{% block content %}
<section>
    <h2>{{ title | default('Create a New Post') }}</h2>
    
    <form method="POST" novalidate>
        {{ form.hidden_tag() }} {# CSRF Token #}
        
        {{ macros.render_field(form.title) }}
        {{ macros.render_field(form.content, rows=10) }}
        {{ macros.render_field(form.category) }}
        {{ macros.render_field(form.publish_date) }}
        
        <div class="mb-3 form-check">
            {{ form.enabled(class="form-check-input") }}
            {{ form.enabled.label(class="form-check-label") }}
        </div>

        {{ form.submit(class="btn btn-primary", value=(title | default('Create Post'))) }}
    </form>
</section>
{% endblock %}