{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}Контакти{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <section>
            <h2 class="text-center mb-4">Зв'яжіться зі мною</h2>

            <form method="POST" novalidate>

                {{ form.hidden_tag() }}

                {{ macros.render_field(form.name) }}
                {{ macros.render_field(form.email) }}
                {{ macros.render_field(form.phone) }}
                {{ macros.render_field(form.subject) }}
                {{ macros.render_field(form.message, rows=5) }} {# 'rows=5' - приклад передачі дод. атрибутів #}

                <div class="mt-4">
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}